@media (max-width: 900px) {
     .portfolio-post {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px) {
    .wrapper {
        padding: 0 8%;
    }

    .main-img {
        height: calc(100vh - 60px);
    }
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: left;
    }
    .profile img {
        margin-top: 0;
    }
    .content-text {
        padding: 0 20px;
        text-align: left;
    }
    .portfolio-post {
        grid-template-columns: 1fr;
    }


}
@media (max-width: 480px) {
    .main-nav li a {
        font-size: 10px;
    }


}