@charset "UTF-8";

/* 共有部分 */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    font-size: 0.9rem;
    color: #383e45;
}
a {
    text-decoration: none;
    color: #383e45;
}
img {
    max-width: 100%;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding:0 4%;
}
li {
    list-style: none;
}

/* header */
.page-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;
    align-items: center;

}
.header-title {
    width: 120px;
    height: 40px;
    margin: 10px 0;
}
.header-title a {
    display: block;
    height: 40px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.main-nav li {
    margin-left: 30px;
}
.main-nav li a {
    font-size: 14px;
}


/* main img */
.main-img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 5px;
}

/* section */
.content #About {
    padding-top: 80px;
}
.content {
    margin-bottom: 100px;
    text-align: center;
}
.content-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}

.profile {
    display: flex;
    justify-content: center;   
    margin: 0 auto;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 30px;
    object-fit: cover;
}
.profile-text {
    text-align-last: left;
}
.profile-text p {
    padding-bottom: 10px;
}
.profile-name {
    margin: 10px 0;
}
.profile ul {
    padding-bottom: 20px;
}
.profile .list-disc li {
    list-style: disc;
    padding-left: 10px;
    list-style-position: inside;
}
.profile-name {
    font-weight: bold;
    margin: 10px 0;
}

.portfolio-post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.profile-item a {
    display: inline-block;
    /* color: #fff; */
    /* background-color: #fbf8ef;
    font-weight: bold;
    font-size: 18px; */
    padding-top: 25px;
    width: 250px;
    height: 150px;
    text-align: center;
    align-items: center;
    border: 1px solid #333;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-item a:hover {
    opacity: 0.5;
}

/* ポートフォリオ画像 */
.corporate_site {
    background-image: url(../img/corporate_site.webp);
}
.sky_coffee {
    background-image: url(../img/sky_coffee_site.webp);
}
.media_site {
    background-image: url(../img/media_site.webp);
}
.store_site {
    background-image: url(../img/store_site.webp);
}
.blog_site {
    background-image: url(../img/blog_site.webp);
}
.portfolio_site {
    background-image: url(../img/portfolio_site.webp);
}
.profile_site {
    background-image: url(../img/profile_site.webp);
}
/* footer */
footer {
    font-size: 0.625rem;
    padding: 10px 0;
    text-align: center;
}
