@charset "UTF-8";

/* 共有部分 */
html {
    font-size: 100%;
}
body {
    line-height: 1.7;
    color: #383e45;
}
a {
    text-decoration: none;
    color: #383e45;
}
img {
    max-width: 100%;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding:0 4%;
}
li {
    list-style: none;
}

/* header */
.page-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;
    align-items: center;

}
.header-title {
    width: 120px;
    height: 40px;
    margin: 10px 0;
}
.header-title a {
    display: block;
    height: 40px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.main-nav li {
    margin-left: 30px;
}
.main-nav li a {
    font-size: 14px;
}


/* section */
.content {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.content-title {
    font-size: 30px;
    margin-bottom: 60px;
}
.content-title span {
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;   
    margin: 0 auto;
}
.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-text {
    width: 70%;
    text-align-last: left;
    margin-left: 50px;
}
.profile p {
    text-align: left;
}
.profile ul {
    padding: 10px 0;
}
.profile .list-disc li {
    list-style: disc;
    padding-left: 10px;
    list-style-position: inside;
    /* text-indent: -15px; */
}
.profile-name {
    font-weight: bold;
    margin: 10px 0;
}

.baseball-post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-item a {
    display: block;
    color: #333;
    padding: 40px 60px;
    border: 1px solid #333;
    margin: 10px;
    background-color: #fbf8ef;
    font-weight: bold;

}
.profile-item a:hover {
    color: #0bd;
}

/* footer */
footer {
    padding: 20px 0;
    text-align: center;
}
