

@media (max-width: 900px) {
    .main-content {
        grid-template-columns: 1fr 1fr;
        gap: 40px 6%;
    }
    .product-content {
        flex-direction: column;
    }
    .product-content img {
        width: 100%;
        margin-bottom: 50px;
    }
    .product-text {
        width: 100%;
    }
    .sub-content {
        margin-bottom: 100px;
    }
    .company-text dt {
        width: 100%;
        border-bottom: none;
        padding: 20px 10px 5px;
    }
    .company-text dd {
        width: 100%;
        padding: 5px 10px 20px;
    }
    .footer {
        display: block;
    }
    .footer-nav {
        margin-bottom: 5px;
    }
    
}


