@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}
body {
    position: relative;
    color: #333333;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.wrapper {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}

/* header */
#fixed {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #fff;
    width: 100%;
    z-index: 10;
    margin: 0 auto;
}
.page-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.page-header h1 a {
    display: block;
    height: 80px;
}
.page-header img{
    display: inline-block;
    padding: 30px 0;
    width: 180px;
}

.menu-open #fixed {
    background-color: #000;
    opacity: 0.9;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#js-navi {
    opacity: 0;
    position: fixed;
    top: 0px;
    left: -300px;
    width: 300px;
    /* height: 100%; */
    z-index: 20;
    transition: all 0.5s;
    /* padding-top: 20px; */
}

#js-navi a {
    color: #fff;
    font-size: 14px;
}

.menu-open #js-navi {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.9;
}
.menu-open #js-navi li {
    list-style: none;
}
.menu-open .nav-menu {
    margin: 36px 50px;
}
.menu-open .nav-menu li {
    margin: 0 auto;
    line-height: 20.5px;
    padding-bottom: 14px;
}
#mask {
    display: none;
    transition: all 0.5s;
}
.menu-open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
}


/* ハンバーガーメニュー */
#mobile-menu-icon {
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
    padding: 25px 0;
    z-index: 20;
}
#mobile-menu-icon span {
    display: block;
    background-color: #333333;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    transition: transform 0.4s;
}
#mobile-menu-icon span:last-child {
    margin-bottom: 0;
}


.menu-open #mobile-menu-icon span {
    background-color: #fff;
}
.menu-open #mobile-menu-icon span:nth-child(1) {
    transform: translateY(4px) rotate(-45deg);
}
.menu-open #mobile-menu-icon span:nth-child(2) {
    transform: translateY(-4px) rotate(45deg);
}


/* main-content*/
#top {
    margin-top: 90px;
}
#main {
    margin-top: 120px;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px 28px;
}

.items a {
    color: #333333;
}
.items img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 10px;
}
.items p {
    font-size: 12px;
}
.items:hover {
    opacity: 0.8;
}
.page-title {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 30px;
}

/* sub-content */
.sub-content {
    margin-top: 40px;
    margin-bottom: 120px;
    text-align: center;
    font-size: 14px
}
.sub-content-item {
    margin-top: 60px;
    margin-bottom: 120px;
    text-align: center;
    font-size: 14px
}
.sub-content a,
.sub-content-item a  {
    color: #333333;
}
.sub-content a:hover,
.sub-content-item a:hover {
    opacity: 0.8;
    cursor: pointer;
}
.sub-content ul,
.sub-content-item ul {
    display: flex;
    justify-content: center;
}
.sub-content li,
.sub-content-item li {
    list-style: none;
    padding: 0 20px;
}

/* Product_item*/
.product-content {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}
.product-content img {
    width: 400px;
    margin-right: 64px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.product-text {
    font-size: 14px;
}
.product-text p {
    margin-bottom: 30px;
}
.product-text dl {
    display: flex;
    flex-wrap: wrap;
}
.product-text dt {
    width: 100px;
} 
.product-text dd {
    width: 70%;
} 

/* about */
.about-text {
    margin-bottom: 150px;
    font-size: 14px;
}
.about-text p{
    width: 600px;
    margin-bottom: 30px;
    line-height: 1.9;
}

/* company */
.company-text dl {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin-bottom: 20px;
    font-size: 14px;

}
.company-text dt {
    width: 30%;
    padding: 20px 10px;
    border-bottom: 1px solid #dcdbdb;
}
.company-text dd {
    width: 70%;
    padding: 20px 10px;
    border-bottom: 1px solid #dcdbdb;
}
.company-text dt:nth-child(11) {
    border-bottom: none;
}
.company-text dd:last-child {
    border-bottom: none;
}
iframe {
    margin-bottom: 120px;
    max-width: 100%;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);

}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer-nav {
    display: flex;
}
.footer-nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 12px;
}
.footer-nav a {
    color: #333333;
}
footer p {
    font-size: 10px;
}