@media (max-width: 768px) {
    .page-title {
        text-align: center;
    }

    .summary-content {
        flex-direction: column;
        margin-top: 140px;
    }
    .items {
        width: 100%;
    }
    
    .main-content {
        flex-direction: column;
    }
    article {
        width: 100%;
    }
    aside {
        width: 100%;
    }
    .sub-content {
        flex-direction: column;
    }
    .sub-content-items {
        width: 100%;
    }
}