@charset "UTF-8";

/* 共有部分 */
html {
    font-size: 100%;
}
body {
    color: #333333;
}
a {
    text-decoration: none;
    font-size: 14px;
}
img {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 200px;
}

.page-title {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: normal;
    height: 30px;
    display: inline-block;
}
.page-header h1 {
    height: 70px;
    background-color: #fff;
}
nav {
    background-color: #333333;
}
.main-nav {
    display: flex;
    width: 100%;
}
.main-nav li {
    list-style: none;
    padding: 10px 60px 10px 0;
    font-size: 14px;
    /* line-height: 19px; */
}
.main-nav a {
    color: #fff;
}

/* section */
.summary-content {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 60px;
}
.items {
    width: 32%;
}
.items h4 {
    margin-top: 10px;
    margin-bottom: 15px;
}
.items p {
    text-align: center;
}
/* dropdown list */
.drop-down {
    position: relative;
    display: inline-block;
    color: #333333;
}
.drop-down::after {
    position: absolute;
    left: 0;
    bottom: 2px;
    content:'';
    width: 100%;
    height: 1px;
    background-color: #333;
    opacity: 1;
    transition: .3s;
}
.drop-down:hover::after {
    bottom: -3px;
    opacity: 0;
    visibility: visible;
}
/* main-content */
.main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
/* article */
article {
    width: 65%;
}
/* article img {
    height: 400px;
    width: 100%;
    object-fit: cover;
} */
article p {
    text-align: center;
    font-size: 14px;
}
.main-text {
    padding: 10px 40px 30px 40px;
    font-size: 16px;
    text-align: left;
}
.post-day {
    text-align-last: left;
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
}
.post-day p {
    margin-right: 20px;
}
.article-unit {
    margin-bottom: 80px;
}

/* aside */
aside {
    width: 30%;
    padding: 0 20px;
}
aside p {
    font-size: 14px;
}
aside h3 {
    text-align: center;
    font-size: 18px;
}
.profile {
    padding-top: 20px;
}
.profile h3 {
    padding-top: 35px;
    padding-bottom: 30px;
}
.profile div {
    text-align: center;
}
.profile-img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}
aside section {
    margin-bottom: 60px;
}
.ranking-items {
    margin-top: 30px;
    margin-bottom: 30px;
}
.ranking-items p {
    margin-top: 5px;
}
.archive-content a{
    color: #333333;
}
.archive-content p {
    padding: 20px;
    border-bottom: 1px solid #333333;
}
.archive-content .border {
    padding: 30px 0 0 0;
}
/* sub-content */
.sub-content-color {
    background-color: #f7f7f7;
}
.sub-content {
    display: flex;
    justify-content: space-between;
}
.sub-content-items {
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sub-content-items h3 {
    margin-bottom: 30px;
}

.sub-content-text {
    font-size: 14px;
    margin-bottom: 20px;
}
.sub-content-items a {
    color: #333333;
}
.sub-content-list {
    padding: 15px 15px;
    border-top: 1px solid #333333;
}

/* list_triangle */
.list_triangle {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.list_triangle li {
    position: relative;
    padding: 0px 0px 0px 1em;
}
.list_triangle li::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.4em solid #333333;
    content: "";
}
/* footer */
footer {
    background-color: #f7f7f7;
    text-align: center;
}
footer p {
    padding: 10px 0;
    font-size: 12px;
}
