@charset "UTF-8";

/* 共有部分 */
html {
    font-size: 100%;
}
body {
    line-height: 1.7;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    /* max-width: 1100px; */
    margin: 0 auto;
    padding: 0 8%;
}

/* header */
.page-title {
    margin: 10px 0;
    font-weight: normal;
}
.page-title a {
    color: #000;
    font-size: 28px;
}
.main-nav {
    background-color: #333;
    display: flex;
    padding: 0 8%;
}
.main-nav li {
    list-style: none;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-nav a {
    color: #fff;
    font-size: 12px;
}

/* section */
.summary-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}
.items {
    width: 30%;
}
.items p {
    text-align: center;
}
/* dropdown list */
.drop-down {
    position: relative;
    display: inline-block;
    color: #000;
}
.drop-down::after {
    position: absolute;
    left: 0;
    bottom: 2px;
    content:'';
    width: 100%;
    height: 2px;
    background-color: #333;
    opacity: 1;
    transition: .3s;
}
.drop-down:hover::after {
    bottom: -4px;
    opacity: 0;
    visibility: visible;
}
/* main-content */
.main-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
/* article */
article {
    width: 66%;
}
article h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
article p {
    text-align: center;
}
.main-text {
    padding: 10px 20px;
    margin-bottom: 20px;
}
.post-day {
    text-align-last: left;
    display: flex;
    margin-bottom: 20px;
}
.post-day p {
    margin-right: 20px;
}
.article-unit {
    margin-bottom: 100px;
}

/* aside */
aside {
    width: 30%;
}
aside h3 {
    margin: 40px 0;
    text-align: center;
}
.profile div {
    text-align: center;
}
.profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
aside section {
    margin-bottom: 100px;
}
.ranking-items {
    margin-bottom: 30px;
}
.archive-content a{
    color: #000;
}
.archive-content p {
    padding: 20px;
    border-bottom: 1px solid #000;
}
/* sub-content */
.sub-content {
    background-color: #EEE;
    display: flex;
    justify-content: space-between;
}
.sub-content-items {
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sub-content-items h3 {
    margin-bottom: 30px;
}

.sub-content-text {
    font-size: 14px;
    margin-bottom: 20px;
}
.sub-content-items a {
    color: #000;
}
.sub-content-list {
    padding: 15px 20px;
    border-top: 1px solid #000;
}

/* list_triangle */
.list_triangle {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.list_triangle li {
    position: relative;
    padding: 0px 0px 0px 1em;
}
.list_triangle li::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.4em solid #000;
    content: "";
}
/* footer */
footer {
    background-color: #EEE;
    text-align: center;
}