@media (max-width: 600px) {
    #video {
        margin-bottom: 0;
    }
    video {
        height: 590px;
    }
    .topics-title {
        font-size: 24px;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    #pickup .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

}
@media (max-width: 569px) {
    #contact .topics-title {
        padding-top: 80px;
        padding-bottom: 0;
    }
    .contact-flex {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 80px;
    }
    .contact-text {
        width: 100%;
    }
    .contact-form {
        width: 100%;
    }
    .button {
        width: 100%;
    }
}