@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
    scroll-behavior: smooth; /* スムーススクロール */
}
body {
    line-height: 1.7;
    position: relative;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.wrapper {
    /* max-width: 1100px; */
    margin: 0 auto;
    padding: 0 5%;
}


section:last-child {
    margin-bottom: 500px;
}

/* header */
#fixed {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
    width: 100%;
    z-index: 10;
}
.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.page-header a{
    color: #000;
    font-size: 20px;
}

.menu-open #fixed {
    background-color: #222;
    opacity: 0.9;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#js-navi {
    opacity: 0;
    position: fixed;
    left: -300px;
    top: 0px;
    width: 300px;
    height: 100%;
    z-index: 20;
    transition: all 0.5s;
    /* background-color: #222; */
    padding-top: 20px;
}

#js-navi a {
    color: #fff;
    font-size: 20px;
    padding: 20px 20px 20px 0;
    display: block;
}

.menu-open #js-navi {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.9;
}
.menu-open #js-navi li {
    list-style: none;
}
.menu-open .nav-menu li {
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
}
#mask {
    display: none;
    transition: all 0.5s;
}
.menu-open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
}


/* ハンバーガーメニュー */
#mobile-menu-icon {
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
    z-index: 20;
}
#mobile-menu-icon span {
    display: block;
    background-color: #000;
    width: 35px;
    height: 2px;
    margin-bottom: 9px;
    transition: transform 0.7s;
}
#mobile-menu-icon span:last-child {
    margin-bottom: 0;
}
.menu-open #mobile-menu-icon span {
    background-color: #fff;
}
.menu-open #mobile-menu-icon span:nth-child(1) {
    transform: translateY(5.5px) rotate(135deg);
}
.menu-open #mobile-menu-icon span:nth-child(2) {
    transform: translateY(-5.5px) rotate(-135deg);
}

/* page-scroll_button */
.page-scroll_button {
    position: fixed;
    top: 120px;
    right: 5%;
    display: flex;
    flex-direction: column;
    z-index: 999;

}
.page-scroll_button button {
    background-color: #0bd;
    color: #fff;
    padding: 8px 10px;
    margin: 10px;
}

/* loding */
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#333;
  text-align:center;
  color:#fff;
}
/* Loadingバー中央配置　*/
#splash_text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

/* main*/
main {
    top: 0;
}
#top {
    margin-top: 90px;
}
.content-title_1, 
.content-title_2, 
.content-title_3 {
    padding-top: 100px;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
}
.content-title_1.fixed {
    position: fixed;
    top: 80px;
    left: 5%;
    right: 5%;
    z-index: 100;
}
.content-title_2.fixed  {
    position: fixed;
    top: 140px;
    left: 5%;
    right: 5%;
    z-index: 100;
}

.content-title_3.fixed  {
    position: fixed;
    top: 200px;
    left: 5%;
    right: 5%;
    z-index: 100;
}
.content-title_1.fixed.none, 
.content-title_2.fixed.none,
.content-title_3.fixed.none {
    opacity: 0;
    z-index: -1;
}

/* chart.js */
.graph_flex {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}
.graph_area {
    max-width: 350px;
    max-height: 350px;
    padding-top: 20px;
    padding: 40px 10px;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 60%;
    height: 50%;
    object-fit: cover;
}
.swiper-slide.img_100 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper_time p {
    padding: 20px;
    text-align: center;
}
/* mySwiper_click */
/* <>矢印の場所指定 */
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 150px;
    right: auto;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 150px;
    left: auto;
}
.swiper-button-prev.sideclick_button, .swiper-rtl .swiper-button-next.sideclick_button {
    left: 10px;
    right: auto;
}
.swiper-button-next.sideclick_button, .swiper-rtl .swiper-button-prev.sideclick_button {
    right: 10px;
    left: auto;
}
.mySwiper_effect_coverflow .swiper-slide {
    /* background-position: center;
    background-size: cover; */
    width: 300px;
    height: 300px;
  }

  /* Effect coverflow */
.mySwiper_effect_coverflow .swiper-slide img {
    object-fit: cover;
  }

  /* Thumbs gallery loop */
.thumbs_gallery_loop .swiper {
    width: 80%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.thumbs_gallery_loop .swiper.mySwiper_thumbs_gallery_loop {
    height: 100px;
}

.thumbs_gallery_loop .swiper-slide {
    background-size: cover;
    background-position: center;
}

.thumbs_gallery_loop .mySwiper2 {
    height: 80%;
    width: 80%;
}

.thumbs_gallery_loop .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.thumbs_gallery_loop .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.thumbs_gallery_loop .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.thumbs_gallery_loop .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*tabの形状*/
.tab{
    display: flex;
    flex-wrap: wrap;
}
.tab li a{
    display: block;
    background:#0bd;
    margin:0 2px;
    padding:10px 20px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
    background:#fff;
}
/*エリアの表示非表示と形状*/
.area {
    display: none;/*はじめは非表示*/
    opacity: 0;/*透過0*/
    background: #fff;
    padding:50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

/* tabのレイアウト */
#tab_change_area li{
    list-style: none;
}
.area li{
    padding: 10px 0; 
    border-bottom: 1px solid #ddd;
    width: 30%;
    list-style: decimal !important;
    list-style-position: inside !important;
}

/* アコーディオン */
.nav-open{
	padding: 15px;
	color: #fff;
	font-size: 20px;
	background: #2073c8;
	position: relative;
}
.nav-open::before{/* 閉じている時 */
	content: "ー";
	position: absolute;
	right: 10%;
}
.nav-open.active::before{/* 開いている時 */
	content: "＋";
}
.nav-open.active nav {
    display: none;
}