@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}
body {
    line-height: 1.7;
    position: relative;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 5%;
}

/* header */
#fixed {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
    width: 100%;
    z-index: 10;
}
.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.page-header a{
    color: #000;
    font-size: 20px;
}

.menu-open #fixed {
    background-color: #222;
    opacity: 0.9;
    /* z-index: 10; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#js-navi {
    display: none;
}

.menu-open #js-navi {
    display: block;
    position: absolute;
    top: 20px;
    left: 50px;
}
.menu-open #js-navi li {
    list-style: none;
    padding: 10px;
}
.menu-open #js-navi a {
    color: #fff;
    font-size: 14px;
    /* opacity: 1 !important; */
    /* z-index: 20; */
}


/* ハンバーガーメニュー */
.mobile-menu-icon {
    background-color: transparent;
    border: none;
    outline: none !important;
    cursor: pointer;
}
.mobile-menu-icon span {
    display: block;
    background-color: #000;
    width: 35px;
    height: 2px;
    margin-bottom: 9px;
    transition: transform 0.7s;
}
.mobile-menu-icon span:last-child {
    margin-bottom: 0;
}


.menu-open .mobile-menu-icon span {
    background-color: #fff;
}
.menu-open .mobile-menu-icon span:nth-child(1) {
    transform: translateY(5.5px) rotate(135deg);
}
.menu-open .mobile-menu-icon span:nth-child(2) {
    transform: translateY(-5.5px) rotate(-135deg);
}


/* main-content*/
#top {
    margin-top: 90px;
}
#main {
    margin-top: 120px;
}
.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.items {
    margin-bottom: 20px;
}
.items a {
    color: #000;
}
.items p {
    font-size: 12px;
}
.items img:hover {
    opacity: 0.6;
}
.page-title {
    font-weight: normal;
    font-size: 14px;
    margin-top: 80px;
    margin-bottom: 20px;
}

/* sub-content */
.sub-content {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.sub-content a  {
    color: #000;
}
.sub-content a:hover {
    color: #0ff;
}
.sub-content ul {
    display: flex;
    justify-content: center;
}
.sub-content li {
    list-style: none;
    margin-right: 20px;
}

/* Product_item*/
.product-content {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
}
.product-content img {
    width: 400px;
    object-fit: cover;
}
.product-text {
    width: 400px;
    font-size: 14px;
}
.product-text p {
    margin-bottom: 20px;
}
.product-text dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.product-text dt {
    width: 30%;
} 
.product-text dd {
    width: 70%;
} 

/* about */
.about-text {
    margin-bottom: 200px;
}
.about-text p{
    width: 600px;
    margin-bottom: 20px;
}

/* company */
.company-text dl {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin-bottom: 100px;
    align-items: center;
}
.company-text dt {
    width: 30%;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.company-text dd {
    width: 70%;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.company-text dt:nth-child(11) {
    border-bottom: none;
}
.company-text dd:last-child {
    border-bottom: none;
}
iframe {
    margin-bottom: 100px;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-nav {
    display: flex;
}
.footer-nav li {
    list-style: none;
    margin-right: 30px;
}
.footer-nav a {
    color: #000;
}

/* レスポンシブ対応 */
@media (max-width: 750px) {
    .main-content {
        grid-template-columns: 1fr 1fr;
    }
    .product-content {
        flex-direction: column;
    }
    .product-content img {
        width: 100%;
        margin-bottom: 50px;
    }
    .product-text {
        width: 100%;
    }
}