@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}
body {
    line-height: 1.7;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10%;
}

/* header */
.page-header {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    align-items: center;
}
.header-title {
    color: #000;
    font-weight: normal;
}
.header-nav {
    display: flex;
}
.header-nav li {
    list-style: none;
    margin-left: 20px;
}
.header-nav a {
    color: #000;
}

/* section */
.main-img {
    height: 400px;
}
.section {
    margin: 60px 0;
}
.section-title {
    text-align: center;
    margin-bottom: 60px;
}
.section-content {
    margin-bottom: 2rem;
}
.grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.news-content {
    border-bottom: 1px solid #000;
    display: grid;
    grid-template-columns: 1fr 4fr;
    line-height: 4;
}
#contact {
    text-align: center;
    margin-bottom: 100px;
}
.contact-form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 10px;
}
.contact-form label {
    text-align-last: left;
}
input[type="text"],
input[type="email"],
textarea {
    border: 1px solid rgba(0, 0, 0, .5);
}
.button {
    background-color: #000;
    color: #fff;
    padding: 15px 80px;
    margin-top: 40px;
}
.button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

/* footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: #fff;
}