@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}
body {
    line-height: 1.7;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10%;
}

/* header */
.page-header {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;

    align-items: center;
}
.header-title {
    color: #000;
    font-weight: normal;
}
.header-nav {
    display: flex;
}
.header-nav li {
    list-style: none;
    margin-left: 20px;
}
.header-nav a {
    color: #000;
}
.header-nav img {
    width: 25px;
    height: 25px;
}

/* section */
.main-img {
    height: 400px;
}
.section {
    margin-top: 60px;
    margin-bottom: 60px;
}
.section-title {
    text-align: center;
    margin-bottom: 60px;
}
.section-content {
    margin-bottom: 2rem;
}
.grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.news-content {
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}
.news-content dt {
    width: 20%;
    border-top: 1px solid #000;
    padding: 15px;
}
.news-content dd {
    width: 80%;
    border-top: 1px solid #000;
    padding: 15px;
}
#contact {
    text-align: center;
    margin-bottom: 100px;
}
.contact-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.contact-form label {
    width: 20%;
    text-align: left;
}
.contact-form input[type="text"],
input[type="email"],
textarea {
    border: 1px solid rgba(0, 0, 0, .5);
    width: 80%;
}
.button {
    background-color: #000;
    color: #fff;
    padding: 15px 80px;
    margin-top: 40px;
}
.button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

/* footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: #fff;
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
    .page-header {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    .news-content {
        flex-direction: column;
    }
    .news-content dt {
        width: 100%;
        padding: 15px 15px 0 15px;
    }
    .news-content dd {
        width: 100%;
        border-top: none;
        padding: 0 15px 15px 15px;
    }
    .contact-form {
        flex-direction: column;
    }
    .contact-form label {
        width: 100%;
    }
    .contact-form input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
    }
}