@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    color: #24292e;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
    color: #24292e;
}
img {
    width: 100%;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
}

/* header */
.page-header {
    display: flex;
    justify-content: space-between;
    height: 270px;
    align-items: center;
}
.header-nav {
    display: flex;
}
.header-nav li {
    list-style: none;
    margin-left: 30px;
    padding: 10px 0;
}
.header-nav a {

    display: block;
}
.header-nav img {
    width: 20px;
    height: 20px;
}

/* section */
.main-img {
    height: 420px;
    padding-bottom: 6px;
    object-fit: cover;
}
.section {
    padding-top: 80px;
    margin-bottom: 130px;
}
.section-title {
    text-align: center;
    margin-bottom: 65px;
    font-size: 24px;
}
.section-content {
    margin-bottom: 30px;
}
.grid {
    display: grid;
    gap: 28px 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 28px;
}
.news-content {
    border-bottom: 1px solid #c8c8c8;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}
.news-content dt {
    width: 20%;
    border-top: 1px solid #c8c8c8;
    padding: 15px;
}
.news-content dd {
    width: 80%;
    border-top: 1px solid #c8c8c8;
    padding: 15px;
}
#contact {
    text-align: center;
    margin-bottom: 100px;
}
.contact-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.contact-form label {
    width: 15%;
    text-align: left;
}
.contact-form input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #c8c8c8;
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
}

textarea {
    height: 160px;
}
.button {
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    margin-top: 20px;
    text-align: center;
    width: 200px;
    border: 1px solid #24292e;
}
.button:hover {
    background-color: #fff;
    color: #24292e;
}

/* footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #24292e;
    color: #fff;
    font-size: 10px;
}

