@charset "UTF-8";

/* 共有部分 */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    font-size: 0.9rem;
    color: #383e45;
}
a {
    text-decoration: none;
    color: #383e45;
}
img {
    max-width: 100%;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding:0 4%;
}
li {
    list-style: none;
}

/* header */
.page-header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 auto;
    align-items: center;

}
.header-title {
    width: 120px;
    height: 40px;
    margin: 10px 0;
}
.header-title a {
    display: block;
    height: 40px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.main-nav li {
    margin-left: 30px;
}
.main-nav li a {
    font-size: 14px;
}

/* main img */
.main-img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 5px;
}

/* section */
.content #About,
.content #Baseball-diary {
    padding-top: 80px;
}
.content {
    margin-bottom: 20px;
    text-align: center;
}
.content:last-of-type {
    margin-bottom: 100px;
}
.content-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: center;   
    margin: 0 auto;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}
.profile-text {
    text-align-last: left;
}
.profile-name {
    margin: 10px 0;
}

.baseball-post {
    display: flex;
    justify-content: space-between;
}
.baseball {
   width: 32%; 
}
.baseball h3 {
    margin: 10px 0;
    font-size: 1rem;
}

/* footer */
footer {
    font-size: 0.625rem;
    padding: 10px 0;
    text-align: center;
}

